<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <!-- connection settings -->
  <!-- <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.1.103:1521:orcl</property>
  <property name="hibernate.connection.username">c##testoviy</property> 
  <property name="hibernate.connection.password">0809</property> -->
  
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1522:orcl1</property>
  <property name="hibernate.connection.username">c##test</property>
  <property name="hibernate.connection.password">test</property>
  <!-- <property name="hibernate.default_schema">C##TESTOVIY</property> 
 connection pool -->
  <property name="hibernate.connection.pool_size">1</property>
  <!-- sql dialect -->
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <!-- disable the 2nd level cache -->
  <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <!-- echo all executed sql to output -->
  <property name="hibernate.show_sql">true</property>
  <!-- drop and recreate the db schema on startup -->
  <property name="hibernate.hbm2ddl.auto">create</property>
  <!-- annotated entity class -->
  <mapping class="com.guny.hiber.example.dto.UserDetails"/>
  
 </session-factory>
</hibernate-configuration>
